* {
  margin: 0;
  padding: 0;
}

.panel {
  border: 5px solid #ab0000;
  width: 100%;
  min-height: 60vh;
  display: flex;
  font-size: 1.2rem;
}

.playingSection {
  width: 60%;
  min-height: 60vh;
  flex: 2;
}
.playTop {
  background-color: darkseagreen;
  height: 30vh;
  text-align: center;
}

.playBottom {
  background-color: mediumpurple;
  height: 45vh;
  text-align: center;
}

.controlSection {
  border-left: 5px solid #ab0000;
  min-height: 60vh;
  flex: 1;
  width: 50px;
  padding: 50px;
  background-color: rgba(249, 249, 0, 0.4);
}
.newGameButton {
  width: 300px;
  height: 60px;
  font-size: 3.2rem;
  background-color: Blue;
  color: white;
  margin: 50px 50px;
}
.showGameButton {
  width: 300px;
  height: 60px;
  font-size: 3.2rem;
  background-color: Pink;
  color: white;
  margin: 50px 50px;
}
.success {
  color: green;
}
.fail {
  color: red;
}
.cell {
  width: 80px;
  height: 60px;
  margin-right: 20px;
  font-size: 3.2rem;
  text-align: center;
}
.userInput {
  width: 300px;
  height: 60px;
  font-size: 3.2rem;
  margin-bottom: 50px;
}
.guess{
  width: 100%;
}
.userGuess {
  width: 300px;
  height: 60px;
  font-size: 3.2rem;
  background-color: forestgreen;
  color: white;
}
